In [3]:
import json
import urllib
import requests
import seaborn as sns
import pandas as pd
import datetime
from matplotlib import pyplot as plt
import plotly.graph_objs as go
import plotly.plotly as py
from climata.acis import StationDataIO
%matplotlib inline

In [6]:
class Gage(object): 
    BASE_URL = "http://waterservices.usgs.gov/nwis/iv/?"
    def __init__(self, gageid):
        self.gageid = gageid
        self.queryParams = {
            'site' : self.gageid,
            'format' : 'json',
        }
    
    def _exec_query(self,params):
        url = self.BASE_URL+urllib.parse.urlencode(params)
        df = pd.read_json(json.dumps(requests.get(url).json()['value']['timeSeries'][0]['values'][0]['value']))    
        return df.set_index(pd.to_datetime(df["dateTime"]))
        
    def get_param(self, param=None, startTime=None, endTime=None, period=None):
        thisQuery = self.queryParams.copy()
        thisQuery['parameterCd'] = param
        if startTime and endTime:
            thisQuery['startDT'] = startTime
            thisQuery['endDT']   = endTime
        elif period:
            thisQuery['period'] = period

        
        return self._exec_query(thisQuery)

In [38]:
g = Gage(12178000)
flowdata = g.get_param("00060", startTime = datetime.datetime(2017, 1,15).isoformat(), endTime=datetime.datetime.now().isoformat())
#gagedata = g.get_param("63680", startTime = datetime.datetime(2017, 1,15).isoformat(), endTime=datetime.datetime.now().isoformat())

dam = Gage("12175000")
height = dam.get_param("62614", startTime = datetime.datetime(2017, 1,15).isoformat(), endTime=datetime.datetime.now().isoformat())

In [39]:
wx_station = "Hozomeen Camp"
wxdata = StationDataIO(basin="17110005", start_date='2017-01-01', end_date="2017-03-20", parameter='pcpn').as_dataframe()
precip = wxdata[wxdata['name'] == wx_station]["data"].values[0].as_dataframe()
precip

          date pcpn
0   2017-01-01    0
1   2017-01-02  0.1
2   2017-01-03  0.1
3   2017-01-04    0
4   2017-01-05    0
5   2017-01-06    0
6   2017-01-07    0
7   2017-01-08    0
8   2017-01-09  0.4
9   2017-01-10    0
10  2017-01-11  0.1
11  2017-01-12    0
12  2017-01-13    0
13  2017-01-14    0
14  2017-01-15    0
15  2017-01-16  0.1
16  2017-01-17  2.4
17  2017-01-18  0.9
18  2017-01-19  0.4
19  2017-01-20    0
20  2017-01-21    0
21  2017-01-22    0
22  2017-01-23    0
23  2017-01-24    0
24  2017-01-25    0
25  2017-01-26    0
26  2017-01-27    0
27  2017-01-28    0
28  2017-01-29    0
29  2017-01-30    0
..         ...  ...
49  2017-02-19  0.1
50  2017-02-20    0
51  2017-02-21    0
52  2017-02-22    0
53  2017-02-23    0
54  2017-02-24    0
55  2017-02-25    0
56  2017-02-26  0.1
57  2017-02-27    0
58  2017-02-28  0.1
59  2017-03-01    0
60  2017-03-02    0
61  2017-03-03    1
62  2017-03-04  0.1
63  2017-03-05  0.4
64  2017-03-06  0.1
65  2017-03-07  0.3
66  2017-03-08  0.2
67  2017-03-09  0.5
68  2017-03-10  0.3
69  2017-03-11  0.2
70  2017-03-12  0.1
71  2017-03-13  0.2
72  2017-03-14  1.1
73  2017-03-15  0.6
74  2017-03-16    M
75  2017-03-17  0.8
76  2017-03-18  1.7
77  2017-03-19    M
78  2017-03-20    M

[79 rows x 2 columns]

In [40]:
flow = go.Scatter(x=flowdata["dateTime"], y=flowdata["value"], yaxis='y1', name="12200500 Discharge")
wx = go.Scatter(x=precip["date"], y=precip["pcpn"], yaxis='y2', name=wx_station+" wx")
ht = go.Scatter(x=height["dateTime"], y=height["value"], yaxis='y3', name="diablo height")
layout = go.Layout(
    title='',
    yaxis=dict(
        title='Discharge (cfs)'
    ),
    yaxis2=dict(
        title='Precip (in)',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    ), 
    yaxis3=dict(
    overlaying='y', 
    side='right')
)

fig = go.Figure(data=[flow, wx, ht], layout=layout)
py.iplot(fig, name="testplot")

In [41]:
tarn = Gage("12181090")
tarn.get_param("00060")

                               dateTime qualifiers  value
dateTime
2015-08-16 21:15:00 2015-08-16 21:15:00        [P]     47